<!-- html for the home page -->

{% extends "base.html" %}

{% block content %}
<article>
    <h1>Welcome to the Kirafiki Library!</h1>
    <p>Please feel free to explore</p>
    <!-- need to use the function below instead of just the basic "content.level" because that is just stored as single letter -->
   

</article>
<p></p>
  <footer class="meta">
    <!-- dont need to do fancy object. because i'm just giving the http response a context list -->
    <p>Site Version: {{ version_num }} </p>
    <!-- see if we got a link or just text from the source (target = "_blank" means it will open in new tab)-->
{% endblock %}