{% extends "base.html" %}

{% block content %}
<h1>Kiswahili Dictionary</h1>

<!-- Search Bar Form -->
 <!-- can put this style stuff in css later and change the class -->
<form method="GET" action="" style="display: inline-flex; align-items: center; gap: 5px;">
    <input type="text" name="q" placeholder="Search the dictionary..." value="{{ request.GET.q }}">
    <button type="submit">Search</button>
</form>

<ul class="entry-list">
  {% for entry in dictionary_list %}
    <li>
      <a href="{% url 'dictionary:dictionary-detail' entry.slug %}">
        <strong>{{ entry.swahili_entry }}</strong> — {{ entry.english }}
      </a>
      <span class="pos">({{ entry.part_of_speech }})</span>
    </li>
  {% empty %}
    <!-- i could change this so that if there are no entries its a different message but when will that happen -->
    <li>No entries found matching your search.</li>
  {% endfor %}
</ul>

{% if is_paginated %}
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
  </div>
{% endif %}
{% endblock %}